[submodule "vim/pack/sriehl/start/gruvbox"]
	path = vim/pack/sriehl/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/sriehl/start/vim-airline"]
	path = vim/pack/sriehl/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/sriehl/start/vim-surround"]
	path = vim/pack/sriehl/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/sriehl/start/syntastic"]
	path = vim/pack/sriehl/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/pack/sriehl/start/ctrlp"]
	path = vim/pack/sriehl/start/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/pack/sriehl/start/tabular"]
	path = vim/pack/sriehl/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/sriehl/start/vim-polyglot"]
	path = vim/pack/sriehl/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/sriehl/start/alchemist"]
	path = vim/pack/sriehl/start/alchemist
	url = https://github.com/slashmili/alchemist.vim
