[submodule "vim/pack/sriehl/start/gruvbox"]
	path = vim/pack/sriehl/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/sriehl/start/vim-airline"]
	path = vim/pack/sriehl/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/sriehl/start/vim-surround"]
	path = vim/pack/sriehl/start/vim-surround
	url = https://github.com/tpope/vim-surround
